@page "/prestamo/{PrestamosId:int}"
@using Repaso.Controllers
@using Repaso.Entidades

<h3>RegistroPrestamos</h3>
<EditForm Model="@Prestamo" OnValidSubmit="@Guardar">
	<DataAnnotationsValidator />

	<div class="form-group">
		<label for="Monto">Monto</label>
		<InputNumber @bind-Value="@Prestamo.Monto" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Monto)" />
	</div>

	<div class="form-group">
		<label for="semana">Semana</label>
		<InputNumber @bind-Value="@Prestamo.Semanas" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Semanas)" />
	</div>

	<div class="form-group">
		<label for="concepto">Concepto</label>
		<InputText @bind-Value="@Prestamo.Concepto" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Concepto)" />
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Guardar</button>
	</div>

	<p class="text-success">@msj</p>

</EditForm>


@code {
	private Prestamos Prestamo = new Prestamos();
	private string msj;
	[Parameter]
	public int PrestamosId { get; set; }

protected override void OnInitialized()
	{

		if (PrestamosId != 0)
		{
			try
			{
		PrestamoController db = new PrestamoController();

				Prestamo = db.Buscar(PrestamosId);
			}
			catch (Exception) { throw; }
		}

	}



	public void Guardar()
	{
		bool paso = false;
		Prestamo.Cuota = Prestamo.Monto / Prestamo.Semanas;
		PrestamoController db = new PrestamoController();

		if(Prestamo.PrestamosId == 0)
		{
			paso = db.Guardar(Prestamo);
			msj = "Guardado!!!";
			Prestamo = new Prestamos();


		}
		else
		{
			paso = db.Modificar(Prestamo);
			msj = "Prestamo Modificado";
			Prestamo = new Prestamos();

		}

		//if (db.Guardar(Prestamo))
		//{
		//	msj = "Guardado!!!";
		//	msj = Prestamo.Cuota.ToString();
		//	Prestamo = new Prestamos();
		//}
	}

}
