@page "/fetchdata"
@using Repaso2.Controllers
@using Repaso2.Entidades

@using Repaso2.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (lista == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in lista)
            {
            <tr>
                <td>@forecast.Monto</td>
                <td>@forecast.Semanas</td>
                <td>@forecast.Cuota</td>
                <td>@forecast.Fecha</td>
                <td>@forecast.Concepto</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
	public List<Prestamos> lista { get; set; }

	protected override async Task OnInitializedAsync()
	{
		PrestamoController db = new PrestamoController();
		lista = new List<Prestamos>();
		lista = db.GetPrestamos(e => true);
	}
}
