@page "/prestamo"
@using Repaso2.Controllers
@using Repaso2.Entidades


<h3>RegistroPrestamos</h3>

<EditForm Model="@Prestamo" OnValidSubmit="@Guardar">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label for="monto">Monto</label>
		<InputNumber @bind-Value="@Prestamo.Monto" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Monto)" />
	</div>

	<div class="form-group">
		<label for="semana">Semanas</label>
		<InputNumber @bind-Value="@Prestamo.Semanas" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Semanas)" />
	</div>

	<div class="form-group">
		<label for="concepto">Concepto</label>
		<InputText @bind-Value="@Prestamo.Concepto" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Concepto)" />
	</div>

	<div class="form-group">
		<label for="fecha">Fecha</label>
		<InputDate @bind-Value="@Prestamo.Fecha" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Fecha)" />
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Guardar</button>
	</div>

	<p class="text-success">@msj</p>
	<p class="text-success">@cuota</p>

</EditForm>


@code {
	private Prestamos Prestamo = new Prestamos();
	string msj, cuota;

	public void Guardar()
	{
		PrestamoController controller = new PrestamoController();

		Prestamo.Cuota = Prestamo.Monto / Prestamo.Semanas;
		if (controller.Guardar(Prestamo))
		{
			msj = "Guardado";
						cuota = "La Cuota a Pagar es: "+Prestamo.Cuota.ToString();

			Prestamo = new Prestamos();
		}
	}

}
