@page "/prestamo"
@using PracticaExamen.Controllers
@using PracticaExamen.Entidades


<h3>RegistroPrestamo</h3>

<EditForm Model="@prestamo" OnValidSubmit="@Guardar">

	<div class="form-group">
		<label for="monto">Monto</label>
		<InputNumber @bind-Value="prestamo.Monto" class="form-control" />
		<ValidationMessage For="@(()=>prestamo.Monto)" />
	</div>

	<div class="form-group">
		<label for="semana">Semanas</label>
		<InputNumber @bind-Value="prestamo.Semanas" class="form-control" />
		<ValidationMessage For="@(()=>prestamo.Semanas)" />
	</div>

	<div class="form-group">
		<label for="cuota">Cuota</label>
		<InputNumber @bind-Value="prestamo.Cuota" class="form-control" />
		<ValidationMessage For="@(()=>prestamo.Cuota)" />
	</div>

	<div class="form-group">
		<label for="fecha">Fecha</label>
		<InputDate @bind-Value="prestamo.Fecha" class="form-control" />
		<ValidationMessage For="@(()=>prestamo.Fecha)" />
	</div>

	<p class="text-success">@msj</p>

	<button class="btn btn-primary" @onclick="Calcular">Calcular</button>
	<button type="submit" class="btn btn-primary">Guardar</button>


</EditForm>

@code {
	private Prestamos prestamo = new Prestamos();

	string msj;

	public void Calcular()
	{
		PrestamoController db = new PrestamoController();
		prestamo.Cuota= prestamo.Monto / prestamo.Semanas;
	}

	public void Guardar()
	{
		PrestamoController db = new PrestamoController();

		
		if (db.Guardar(prestamo))
		{
			this.prestamo = new Prestamos();
			msj = "Guardado";
		}

	}
}
