@page "/prestamos"
@using PrestamoProyecto.Entidades
@using PrestamoProyecto.Controllers
<h3>Registro Prestamos</h3>

<EditForm Model="@Prestamo" OnValidSubmit="@Calculo">
	<DataAnnotationsValidator />

	<div class="form-group">
		<label for="Fecha">Fecha</label>
		<InputDate @bind-Value="Prestamo.Fecha" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Fecha)" />
	</div>

	<div class="form-group">
		<label for="Monto">Monto</label>
		<InputNumber @bind-Value="Prestamo.Monto" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Monto)" />
	</div>

	<div class="form-group">
		<label for="Monto">Semanas</label>
		<InputNumber @bind-Value="Prestamo.Semanas" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Semanas)" />
	</div>
	<div class="form-group">
		<label for="Monto">Concepto</label>
		<InputTextArea @bind-Value="Prestamo.Concepto" class="form-control" />
		<ValidationMessage For="@(()=>Prestamo.Concepto)" />
	</div>
	<div class="form-group">
		<label for="e">Cuota</label>
		<p>@cuota</p>
	</div>
	<p class="text-success">@msj</p>
	<div class="form-group">
		<button type="submit" class="btn btn-primary"> Guardar</button>	
	</div>

</EditForm>


@code {
	private Prestamos Prestamo = new Prestamos();
	private string msj;
	int cuota;


	private void Calculo()
	{
		cuota=Prestamo.Monto / Prestamo.Semanas;
	}

	private void Guardar()
	{
		PrestamosController prestamosController = new PrestamosController();

		if (prestamosController.Guardar(Prestamo))
		{
			msj = "Guardado!!!";
			this.Prestamo = new Prestamos();
		}
	}
}
